body {
    margin-left: 40px;
    font-size: 18px;
    font-family: sans-serif;
    background-image: url(../images/gkgd.jpg);
    background-size: cover;
}

.btn {
    padding: 9px 25px;
    background-color: rgba(0,136,169,0.4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    margin-top: 20px;
}

    .btn:hover {
        background-color: rgba(0,136,169,0.8);
        text-decoration: none;
    }

table, thead, tbody, tr, td, th {
    margin-top: 30px;
    border: 1px solid black;
}

th {
    padding-right: 80px;
}
